
.gitignore
.idea/inspectionProfiles/
.idea/vcs.xml
.idea/workspace.xml
core/target/
dao/target/
service/target/

*.iml


# User-specific stuff:
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
!/.gitignore
